<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    </head>
    <body>
        <div id="container">
            <div id="content-wrapper">
                <div id="content-1">
                    <img src="../static/assets/background-home.jpg" alt="">                    
                    <div id="title-1">
                        Welcome to CodePlot
                        <br>
                        <div id="title-2">By CodePlay</div>
                        <div id="get-started-button">Get Started</div> 
                    </div>
                </div>
                <div id="content-2">
                    <div class="content-2-1">
                        <img class="image" id="image-1" src="{{ url_for('static', filename='assets/python.png') }}" alt="">
                        <h1>What is Python?</h1>
                        <div class="text">
                            Python is a high-level, versatile, and dynamically typed programming language. 
                            It was created by Guido van Rossum and was first released in 1991. 
                            Python emphasizes code readability and a clean syntax, 
                            which makes it an excellent choice for beginners and experienced developers alike. 
                            It is designed to be both easy to write and easy to understand.                                        
                            <br>      
                            <br>                      
                            Python's versatility makes it suitable for a wide range of applications, 
                            including web development, scientific computing, data analysis, machine learning, 
                            artificial intelligence, automation, and scripting. Its ease of learning and 
                            extensive resources available online make it a popular choice for both beginners 
                            and professionals in the programming world.                
                        </div>
                    </div>
                    <div class="content-2-1">
                        <img class="image" id="image-2" src="{{ url_for('static', filename='assets/code.jpg') }}" alt="">
                        <h1>The Features of Python</h1>
                        <div class="text" id="text-list">
                            <ul class="list">
                                <li>                                
                                    Object Oriented Programming (OOP): 
                                    <br>
                                    <p>
                                        Python supports object-oriented programming (OOP) principles, allowing developers to create and use objects with methods and attributes.                            
                                    </p>
                                </li>
                                <br>
                                <li>                                
                                    Interpreted Language: 
                                    <br>
                                    <p>
                                        Python is an interpreted language, which means you don't need to compile your code before running it. This makes development faster and more flexible.                            
                                    </p>
                                </li>
                                <br>                                
                                <li>                                
                                    Cross-Platform: 
                                    <br>
                                    <p>
                                        Python is available on various platforms, including Windows, macOS, Linux, and more. This cross-platform compatibility allows developers to write code that runs on different operating systems without modification.                            
                                    </p>
                                </li>
                                <br>
                                <li>                                
                                    Extensive Standard Library: 
                                    <br>
                                    <p>
                                        Python comes with a comprehensive standard library that provides modules and functions for various tasks, reducing the need for developers to write code from scratch.                            
                                    </p>
                                </li>
                                <br>
                                <li>
                                    Support for Third-Party Libraries: 
                                    <br>
                                    <p>
                                        Python has a vast ecosystem of third-party libraries and frameworks that extend its functionality. Popular libraries include NumPy, pandas, Matplotlib, TensorFlow, and Django.
                                    </p>
                                </li>
                                <br>
                                <li>                                
                                    Open Source: 
                                    <br>
                                    <p>
                                        Python is open-source software, which means it's freely available for anyone to use, modify, and distribute. This encourages a large and active community of developers.                            
                                    </p>
                                </li>
                                <br>
                                <li>
                                    Community-Driven Development: 
                                    <br>
                                    <p>
                                        Python's development is guided by the Python Enhancement Proposal (PEP) process, which encourages community input and consensus-building for language enhancements and changes.
                                    </p>
                                </li>
                                <br>
                                <li>
                                    Integration Capabilities: 
                                    <br>
                                    <p>
                                        Python can easily integrate with other programming languages like C, C++, and Java. This makes it suitable for building components or extensions for existing software written in these languages.
                                    </p>
                                </li>
                            </ul>                    
                        </div>
                    </div>
                    <div class="content-2-1">
                        <img class="image" id="image-3" src="{{ url_for('static', filename='assets/ai.jpg') }}" alt="">
                        <h1>Artificial Intelligence</h1>
                        <div class="text">
                            <ul class="list">                                
                                <li>
                                    Machine Learning: 
                                    <br>
                                    <p>
                                        Python is widely used for building machine learning models, a subset of AI that focuses on training algorithms to learn patterns from data and make predictions or decisions. Libraries like Scikit-Learn, TensorFlow, and PyTorch provide the tools necessary for developing machine learning applications in Python.
                                    </p>
                                </li>
                                <br>
                                <li>
                                    Deep Learning: 
                                    <br>
                                    <p>
                                        Deep learning is a specialized field of machine learning that deals with neural networks and large datasets. Python is a dominant language in this area, with libraries like Keras, TensorFlow, and PyTorch being at the forefront of deep learning research and development.
                                    </p>
                                </li>
                                <br>
                                <li>
                                    Natural Language Processing (NLP): 
                                    <br>
                                    <p>
                                        Python is extensively used in NLP applications, which involve teaching machines to understand, interpret, and generate human language. Libraries such as NLTK, spaCy, and Gensim enable developers to work with text data effectively.
                                    </p>
                                </li>
                                <br>
                                <li>
                                    Computer Vision: 
                                    <br>
                                    <p>
                                        Python is also a popular choice for computer vision tasks, which involve processing and analyzing visual data, such as images and videos. OpenCV is a widely used Python library for computer vision applications.
                                    </p>
                                </li>
                                <br>
                                <li>
                                    AI Frameworks: 
                                    <br>
                                    <p>
                                        Python offers a wide range of AI frameworks and tools for various AI applications. Frameworks like scikit-learn, PyTorch, and TensorFlow provide a foundation for building AI models.
                                    </p>
                                </li>
                                <br>
                                <li>
                                    Data Manipulation and Analysis: 
                                    <br>
                                    <p>
                                        Python's data manipulation and analysis libraries, such as Pandas and NumPy, are crucial for preprocessing and preparing data for AI and machine learning tasks.
                                    </p>
                                </li>
                                <br>
                                <li>
                                    AI in Automation: 
                                    <br>
                                    <p>
                                        Python is used for creating AI-driven automation scripts and bots that can perform tasks autonomously, such as web scraping, data extraction, and process automation.
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="content-2-1">
                        <img class="image" id="image-4" src="{{ url_for('static', filename='assets/library.jpg') }}" alt="">
                        <h1>Python Library</h1>
                        <div class="text">
                            <ul class="list">
                                <li>
                                    NumPy (Numerical Python):
                                    <br>
                                    <p>
                                        NumPy is a fundamental library for numerical and mathematical operations in Python. It provides support for large, multi-dimensional arrays and matrices, as well as a collection of mathematical functions to operate on these arrays.
                                    </p>
                                </li>
                                <br>
                                <li>
                                    Pandas:
                                    <br>
                                    <p>
                                        Pandas is a library for data manipulation and analysis. It introduces data structures like DataFrames and Series, which are particularly useful for working with structured data such as CSV files or databases.
                                    </p>
                                </li>
                                <br>
                                <li>
                                    Matplotlib:
                                    <br>
                                    <p>
                                        Matplotlib is a powerful library for creating static, animated, and interactive visualizations and plots. It provides a flexible and customizable way to visualize data.                                        
                                    </p>
                                </li>
                                <br>
                                <li>
                                    Requests:
                                    <br>
                                    <p>
                                        Requests is a library for making HTTP requests and working with web APIs. It simplifies tasks like sending GET and POST requests to web services and handling response data.
                                    </p>
                                </li>
                                <br>
                                <li>
                                    Scikit-Learn (sklearn):
                                    <br>
                                    <p>
                                        Scikit-Learn is a machine learning library that provides tools for various machine learning tasks, including classification, regression, clustering, dimensionality reduction, and model selection.
                                    </p>
                                </li>
                                <br>
                                <li>
                                    Django:
                                    <br>
                                    <p>
                                        Django is a high-level web framework that simplifies web application development in Python. It provides a robust set of tools and features for building web applications quickly, including a built-in ORM (Object-Relational Mapping), authentication system, and templating engine.
                                    </p>
                                </li>
                                <br>
                                <li>
                                    Flask:
                                    <br>
                                    <p>
                                        Flask is a micro web framework for Python, designed for simplicity and flexibility. It provides the essentials for building web applications and allows developers to choose and integrate additional components as needed.
                                    </p>
                                </li>
                                <br>
                                <li>
                                    Tkinter:
                                    <br>
                                    <p>
                                        Tkinter is the standard GUI (Graphical User Interface) library for Python. It provides tools for creating windows, dialogs, buttons, and other GUI elements, making it suitable for building desktop applications with graphical interfaces.
                                    </p>
                                </li>
                                <br>
                                <li>
                                    Beautiful Soup:
                                    <br>
                                    <p>
                                        Beautiful Soup is a Python library for web scraping and parsing HTML and XML documents. It simplifies the process of extracting data from web pages and allows you to navigate and manipulate the document's structure.
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> 
                <div id="footer-bar">
                    <div>
                        Copyright © 2023 Research and Development Team (RnD/RDT).
                        <br>
                        CodePlot by CodePlay
                    </div>
                </div>
            </div>
            <div id="navigation-bar">
                <div id="logo">
                    <img src="{{ url_for('static', filename='assets/python2.png') }}" alt="">
                    <p>CodePlot</p>
                </div>
                <div id="menu">
                    <div id="home-button" class="menu-button">
                        <div>Home</div>
                    </div>
                    <div id="about-us-button" class="menu-button">
                        <div>About Us</div>
                    </div>
                </div>         
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>